language: bash

services:
  - docker
  
before_script:
  - ./travis/docker-build.sh
  - docker network create -d bridge traefik-network
  - docker run -d --network=traefik-network -p 80:80 -p 8080:8080 -v /var/run/docker.sock:/var/run/docker.sock --name=traefik traefik:latest --api --docker
  - docker-compose up -d
  
script:
  - ./travis/drupal-build.sh
